<!doctype html>
<html lang="en" class="h-100">
    {{ partial "head.html" . }}
    <script type="module" src="https://unpkg.com/esp-web-tools@9.0.3/dist/web/install-button.js?module"></script>
    <body class="d-flex flex-column h-100">
        {{ partial "nav.html" . }}
        <main>
            <div class="container flex-shrink-0 pt-5 pb-5">
                <h1>{{ .Title }}</h1>
                <p>{{ .Content }}</p>
                <br/>
                <h4><span class="badge rounded-pill bg-primary">1</span> Install firmware</h4>
                <esp-web-install-button manifest="/firmware/manifest.json">
                    <span slot="unsupported">
                        <div class="alert alert-warning" role="alert">
                            Your browser does not support installing things on ESP devices. Use Google Chrome or Microsoft Edge.
                        </div>
                    </span>
                    <span slot="not-allowed">
                        <div class="alert alert-danger" role="alert">
                            You are not allowed to do this using http!
                        </div>
                    </span>
                </esp-web-install-button>
                <br/>
                <h4><span class="badge rounded-pill bg-primary">2</span> Connect to ESP</h4>
                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
                        <ul class="list-group">
                            <li class="list-group-item"><span class="badge rounded-pill bg-success">a</span> Your ESP opens an WiFi access point (AP) with SSID <span class="badge bg-secondary">AHOY-DTU</span></li>
                            <li class="list-group-item"><span class="badge rounded-pill bg-success">b</span> Connect to this WiFi with some client (Laptop, Smartphone)</li>
                            <li class="list-group-item"><span class="badge rounded-pill bg-success">c</span> The default password is <span class="badge bg-secondary">esp_8266</span></li>
                            <li class="list-group-item"><span class="badge rounded-pill bg-success">d</span> Navigate to the <span class="badge bg-secondary">Settings</span> page</li>
                            <li class="list-group-item"><span class="badge rounded-pill bg-success">e</span> Open the section <span class="badge bg-secondary">WiFi</span> and press  <span class="badge bg-secondary">Scan</span></li>
                            <li class="list-group-item"><span class="badge rounded-pill bg-success">f</span> Select your home network and type your password</li>
                            <li class="list-group-item"><span class="badge rounded-pill bg-success">g</span> Scroll down, check <span class="badge bg-secondary">Reboot device after successful save</span> and press <span class="badge bg-secondary">save</span></li>
                        </ul>
                    </div>
                </div>
                <br/>
                <h4><span class="badge rounded-pill bg-primary">3</span> Find device in home LAN / Wifi</h4>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <span class="badge rounded-pill bg-success">option a</span>
                        </div>
                        <div class="col-11">
                            Check a serial console during boot of ESP. It will print the IP which it got from DHCP server.
                        </div>
                    </div>
                    <div class="row mt-lg-2">
                        <div class="col">
                            <span class="badge rounded-pill bg-success">option b</span>
                        </div>
                        <div class="col-11">
                            Check devices listed in your WiFi router (eg. Fritz!Box). You should be able to find an IP-address like <span class="badge bg-secondary">192.168.x.x</span>
                        </div>
                    </div>
                </div>
                <br/>
                <h4><span class="badge rounded-pill bg-primary">4</span> Settings</h4>
                Point to <span class="badge bg-secondary">Settings</span> again and configure the device on your needs.

            </div>
        </main>
        {{ partial "footer.html" . }}
    </body>
</html>
