CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
tools/esp8266/tmp
tools/esp8266/binaries
/**/Debug
/**/v16/*
*.db
*.suo
*.ipch
tools/esp8266/.vscode/extensions.json
.DS_Store
.vscode
tools/esp8266/platformio-device-monitor-*.log
tools/esp8266/html/h/*
*.zip
/hoymiles_doc/*
*.pyc
/tools/nano/AhoyUL/log/*.*
*todo
/tools/nano/AhoyUL/_libs2/HoymilesMAC.py
/tools/nano/AhoyUL/myTest_app.py_old.py
/tools/nano/AhoyUL/myTest_app.py
tools/nano/AhoyUL/FHEM/34_mbStamp02.pm
tools/nano/AhoyUL/FHEM/test.pl
tools/nano/AhoyUL/FHEM/34_mbStamp03.pm
