CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
build
tools/esp8266/tmp
tools/esp8266/binaries
/**/Debug
/**/v16/*
*.db
*.suo
*.ipch
tools/esp8266/.vscode/extensions.json
.DS_Store
.vscode
