html, body {
    height: 100%;
}

tr {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

td, th {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 7px;
}

h2, h3, h4 {
    margin-top: 15px;
    color: #0d6efd;
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}
