<footer class="text-center text-lg-start bg-light text-muted">
    <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <div class="text-center p-4">
                © 2022
            </div>
        </div>
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <div class="text-center p-4">
                {{ .Site.Title }}
            </div>
        </div>
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <div class="text-center p-4">
                <a href="/ahoy/imprint">Imprint</a>
            </div>
        </div>
    </div>
</footer>
