<footer class="footer mt-auto text-center text-lg-start text-white" style="background-color: #45526e">

    <div class="container p-4 pb-0">
        <section>
            <div class="row d-flex">
                <div class="col-4 text-center">
                    <p><a href="/imprint" class="text-white">Imprint</a></p>
                </div>
                <div class="col-4 text-center">
                    <p><a href="https://github.com/lumapu/ahoy" target="_blank" class="text-white">Github</a></p>
                </div>
                <div class="col-4 text-center">
                    <p><a href="https://discord.gg/WzhxEY62mB" target="_blank" class="text-white">Discord</a></p>
                </div>
            </div>
        </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023
        <a class="text-white" href="https://ahoydtu.de">AhoyDTU.de</a>
    </div>
</footer>

{{ $js := "js/bootstrap.bundle.min.js" | relURL }}
<script type="text/javascript" src="{{ $js }}"></script>
