---

ahoy:
  interval: 0
  sunset: true

  # List of available NRF24 transceivers
  nrf:
    - ce_pin: 22
      cs_pin: 0
      txpower: 'low' # default txpower (min,low,high,max)

  mqtt:
    disabled: false
    host: example-broker.local
    port: 1883
    user: 'username'
    password: 'password'
    useTLS: False
    insecureTLS: False #set True for e.g. self signed certificates. 

  # Influx2 output
  influxdb:
    disabled: true
    url: 'http://influxserver.local:8086'
    org: 'myorg'
    token: '<base64-token>'
    bucket: 'telegraf/autogen'
    measurement: 'hoymiles'

  dtu:
    serial: 99978563001

  inverters:
    - name: 'balkon'
      serial: 114172220003
      txpower: 'low'                   # txpower per inverter (min,low,high,max)
      mqtt:
        send_raw_enabled: false        # allow inject debug data via mqtt
        topic: 'hoymiles/114172221234' # defaults to 'hoymiles/{serial}'
