html, body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

h2 {
    padding-left: 10px;
}

.topnav {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    color: #fff;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    height: 20px;
}

#topnav a {
    color: #fff;
}

.topnav a.icon {
    top: 0;
    left: 0;
    background: #333;
    display: block;
    position: absolute;
}

.topnav a:hover {
    background-color: #044e86 !important;
    color: #000;
}

.topnav .info {
    color: #fff;
    position: absolute;
    right: 24px;
    top: 5px;
}

.topnav .mobile {
    display: none;
}

svg.icon {
    vertical-align: middle;
    display: inline-block;
    margin-top:-4x;
    padding: 5px 7px 5px 0px;
}

.title {
    background-color: #006ec0;
    color: #fff !important;
    padding-left: 80px !important
}

.topnav .icon span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 2px;
}

.topnav .active {
    background-color: #555;
}

span.seperator {
    width: 100%;
    height: 1px;
    margin: 5px 0px 5px;
    background-color: #494949;
    display: block;
}

#wrapper {
    min-height: 100%;
}

#content {
    padding: 50px 20px 120px 20px;
    overflow: auto;
}

#footer {
    height: 121px;
    margin-top: -121px;
    background-color: #555;
    width: 100%;
    font-size: 13px;
}

#footer .right {
    color: #bbb;
    margin: 6px 25px;
    text-align: right;
}

#footer .left {
    color: #bbb;
    margin: 23px 0px 0px 25px;
}

#footer ul {
    list-style-type: none;
    margin: 20px auto;
    padding: 0;
}

#footer ul li, #footer a {
    color: #bbb;
    margin-bottom: 10px;
    padding-left: 5px;
    font-size: 13px;
}

#footer a:hover {
    color: #fff;
}

.hide {
    display: none !important;
}

@media only screen and (min-width: 992px) {
    .topnav {
        width: 230px !important;
        height: 100%;
    }

    .topnav a.icon {
        display: none !important;
    }

    .topnav a {
        padding: 14px 24px;
    }

    .topnav .title {
        padding-left: 24px !important;
    }

    .topnav .mobile {
        display: block;
    }

    .topnav .info {
        top: auto !important;
        right: auto !important;
        bottom: 14px;
        left: 24px;
    }

    #content {
        padding: 15px 15px 120px 250px;
    }

    #footer .left {
        margin-left: 250px !important;
    }
}

/** old CSS below **/

p {
    text-align: justify;
    font-size: 13pt;
}

p.lic, p.lic a {
    font-size: 8pt;
    color: #999;
}

.des {
    margin-top: 20px;
    font-size: 13pt;
    color: #006ec0;
}

.s_active, .s_collapsible:hover {
    background-color: #044e86;
    color: #fff;
}

.s_content {
    display: none;
    overflow: hidden;
}

.s_collapsible {
    background-color: #006ec0;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 4px;
}

.subdes {
    font-size: 12pt;
    color: #006ec0;
    margin-left: 7px;
}

.subsubdes {
    font-size:12pt;
    color:#006ec0;
    margin: 0 0 7px 12px;
}

a:link, a:visited {
    text-decoration: none;
    font-size: 13pt;
    color: #006ec0;
}

a:hover, a:focus {
    color: #f00;
}

a.btn {
    background-color: #006ec0;
    color: #fff;
    padding: 7px 15px 7px 15px;
    display: inline-block;
}

a.btn:hover {
    background-color: #044e86 !important;
}

input, select {
    padding: 7px;
    font-size: 13pt;
}

input.text, select {
    width: 70%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

input.sh {
    max-width: 150px !important;
    margin-right: 10px;
}

input.btnDel {
    background-color: #c00 !important;
}

input.btn {
    background-color: #006ec0;
    color: #fff;
    border: 0px;
    padding: 7px 20px 7px 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

input.btn:hover {
    background-color: #044e86;
}

input.cb {
    margin-bottom: 15px;
    margin-top: 10px;
}

label {
    width: 20%;
    display: inline-block;
    font-size: 12pt;
    padding-right: 10px;
    margin: 10px 0px 0px 15px;
    vertical-align: top;
}

pre {
    white-space: pre-wrap;
}

fieldset {
    margin-bottom: 15px;
}

.left {
    float: left;
}

.right {
    float: right;
}

div.ch-iv {
    width: 100%;
    background-color: #32b004;
    display: inline-block;
    margin-bottom: 15px;
    padding-bottom: 20px;
    overflow: auto;
}

div.ch {
    width: 220px;
    min-height: 350px;
    background-color: #006ec0;
    display: inline-block;
    margin: 0 20px 10px 0px;
    overflow: auto;
    padding-bottom: 20px;
}

div.ch-all {
    width: 100%;
    background-color: #b06e04;
    display: inline-block;
    margin-bottom: 15px;
    padding-bottom: 20px;
    overflow: auto;
}

div.ch .value, div.ch .info, div.ch .head, div.ch-iv .value, div.ch-iv .info, div.ch-iv .head, div.ch-all .value, div.ch-all .info, div.ch-all .head {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
}

.subgrp {
    float: left;
    width: 220px;
}

div.ch .unit, div.ch-iv .unit, div.ch-all .unit {
    font-size: 19px;
    margin-left: 10px;
}

div.ch .value, div.ch-iv .value, div.ch-all .value {
    margin-top: 20px;
    font-size: 24px;
}

div.ch .info, div.ch-iv .info, div.ch-all .info {
    margin-top: 3px;
    font-size: 10px;
}

div.ch .head {
    background-color: #003c80;
    padding: 10px 0 10px 0;
}

div.ch-all .head {
    background-color: #8e5903;
    padding: 10px 0 10px 0;
}

div.ch-iv .head {
    background-color: #1c6800;
    padding: 10px 0 10px 0;
}

div.iv {
    max-width: 960px;
    margin-bottom: 40px;
}

div.ts {
    font-size: 13px;
    background-color: #ddd;
    border-top: 7px solid #999;
    padding: 7px;
}

div.ModPwr, div.ModName, div.YieldCor {
  width:70%;
  display: inline-block;
}

div.hr {
    height: 1px;
    border-top: 1px solid #ccc;
    margin: 10px 0px 10px;
}

#note {
    margin: 10px 10px 10px 10px;
    padding-top: 10px;
    width: 100%;
}

@media(max-width: 500px) {
    div.ch .unit, div.ch-iv .unit {
        font-size: 18px;
    }

    div.ch {
        width: 170px;
        min-height: 100px
    }

    .subgrp {
        width: 180px;
    }
}

#serial {
    width: 100%;
}

#content .serial {
    max-width: 1000px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #f00;
    border-radius: 50%;
    display: inline-block;
    margin-top: 15px;
}

#login {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -160px;
    margin-left: -150px;
}

#login .pad {
    padding: 20px;
}

#login .pad input {
    width: 100%;
    padding: 7px 0 7px 0;
    border: 0px;
    margin-bottom: 10px;
}


.head {
    background-color: #006ec0;
    color: #fff;
}

.row { display: flex; max-width: 100%; flex-wrap: wrap; }
.col { flex: 1 0 0%; }

.col-1, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8,
.col-9, .col-10, .col-11, .col-12 { flex: 0 0 auto; }


.col-1 { width: 8.333333333%; }
.col-2 { width: 16.66666667%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33333333%; }
.col-5 { width: 41.66666667%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33333333%; }
.col-8 { width: 66.66666667%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33333333%; }
.col-11 { width: 91.66666667%; }
.col-12 { width: 100%; }

.p-1 { padding: 0.25rem; }
.p-2 { padding: 0.5rem; }
.p-3 { padding: 1rem; }
.p-4 { padding: 1.5rem; }
.p-5 { padding: 3rem; }

.mt-1  { margin-top: 0.25rem }
.mt-2  { margin-top: 0.5rem }
.mt-3  { margin-top: 1rem }
.mt-4  { margin-top: 1.5rem }
.mt-5  { margin-top: 3rem }

.mb-1  { margin-bottom: 0.25rem }
.mb-2  { margin-bottom: 0.5rem }
.mb-3  { margin-bottom: 1rem }
.mb-4  { margin-bottom: 1.5rem }
.mb-5  { margin-bottom: 3rem }

.a-r { text-align: right; }
.a-c { text-align: center; }

/* sm */
@media(min-width: 768px) {
    .col-sm-1 { width: 8.333333333%; }
    .col-sm-2 { width: 16.66666667%; }
    .col-sm-3 { width: 25%; }
    .col-sm-4 { width: 33.33333333%; }
    .col-sm-5 { width: 41.66666667%; }
    .col-sm-6 { width: 50%; }
    .col-sm-7 { width: 58.33333333%; }
    .col-sm-8 { width: 66.66666667%; }
    .col-sm-9 { width: 75%; }
    .col-sm-10 { width: 83.33333333%; }
    .col-sm-11 { width: 91.66666667%; }
    .col-sm-12 { width: 100%; }
}

/* md */
@media(min-width: 992px) {
    .col-md-1 { width: 8.333333333%; }
    .col-md-2 { width: 16.66666667%; }
    .col-md-3 { width: 25%; }
    .col-md-4 { width: 33.33333333%; }
    .col-md-5 { width: 41.66666667%; }
    .col-md-6 { width: 50%; }
    .col-md-7 { width: 58.33333333%; }
    .col-md-8 { width: 66.66666667%; }
    .col-md-9 { width: 75%; }
    .col-md-10 { width: 83.33333333%; }
    .col-md-11 { width: 91.66666667%; }
    .col-md-12 { width: 100%; }
}
