h1 {
    margin: 0;
    padding: 20pt;
    font-size: 22pt;
    color: #fff;
    background-color: #006ec0;
    display: block;
    text-transform: uppercase;
}

html, body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
    font-size: 13pt;
}

.des {
    margin-top: 35px;
    font-size: 14pt;
    color: #006ec0;
}

.subdes {
    font-size: 13pt;
    color: #006ec0;
    margin-left: 7px;
}

.fw {
    width: 60px;
    display: block;
    float: left;
}

.color {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
}

.range {
    width: 300px;
}

a:link, a:visited {
    text-decoration: none;
    font-size: 13pt;
    color: #006ec0;
}

a:hover, a:focus {
    color: #f00;
}

#content {
    padding: 15px 15px 60px 15px;
}

#footer {
    position: fixed;
    bottom: 0px;
    height: 45px;
    background-color: #006ec0;
    width: 100%;
}

#footer p {
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 10pt !important;
}

#footer a {
    color: #fff;
}

div.content {
    background-color: #fff;
    padding-bottom: 65px;
    overflow: hidden;
}

input {
    padding: 7px;
    font-size: 13pt;
}

input.text, input.password {
    width: 70%;
    box-sizing: border-box;
    margin-bottom: 10px;
    /*float: right;*/
    border: 1px solid #ccc;
}

input.button {
    background-color: #006ec0;
    color: #fff;
    border: 0px;
    float: right;
    text-transform: uppercase;
}

input.cb {
    margin-bottom: 20px;
}

label {
    width: 20%;
    display: inline-block;
    font-size: 12pt;
    padding-right: 10px;
    margin-left: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

div.module {
    display: block;
    width: 250px;
    height: 410px;
    background-color: #006ec0;
    display: inline-block;
    position: relative;
    margin-right: 20px;
    margin-bottom: 20px;
}
div.module .value, div.module .info, div.module .header {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
}

div.module .unit {
    font-size: 19px;
    margin-left: 10px;
}

div.module .value {
    margin-top: 20px;
    font-size: 30px;
}

div.module .info {
    margin-top: 3px;
    font-size: 10px;
}

div.module .header {
    background-color: #003c80;
    padding: 10px 0 10px 0;
}
