html, body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

h2 {
    padding-left: 10px;
}

.topnav {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.topnav a {
    color: #fff;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    height: 20px;
}

#topnav a {
    color: #fff;
}

.topnav a.icon {
    background: #333;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.topnav a:hover {
    background-color: #006ec0;
    color: #000;
}

.active {
    background-color: #006ec0;
    color: #fff !important;
    padding-left: 80px !important
}

.topnav .icon span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 2px;
}

span.seperator {
    width: 100%;
    height: 1px;
    margin: 10px 0px 10px;
    background-color: #444;
    display: block;
}

/** old CSS below **/

p {
    text-align: justify;
    font-size: 13pt;
}

p.lic, p.lic a {
    font-size: 8pt;
    color: #999;
}

.des {
    margin-top: 20px;
    font-size: 13pt;
    color: #006ec0;
}

.s_active, .s_collapsible:hover {
    background-color: #006ec0;
    color: #fff;
}

.s_content {
    display: none;
    overflow: hidden;

}

.s_collapsible {
    background-color: #044e86;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-bottom: 4px;
}

.subdes {
    font-size: 12pt;
    color: #006ec0;
    margin-left: 7px;
}

.subsubdes {
    font-size:12pt;
    color:#006ec0;
    margin: 0 0 7px 12px;
}

.hide {
    display: none;
}

a:link, a:visited {
    text-decoration: none;
    font-size: 13pt;
    color: #006ec0;
}

a:hover, a:focus {
    color: #f00;
}

a.btn {
    background-color: #006ec0;
    color: #fff;
    padding: 7px;
    display: inline-block;
    margin-top: 30px;
}

#content {
    padding: 60px 15px 60px 15px;
}

#footer {
    position: fixed;
    bottom: 0px;
    height: 45px;
    background-color: #006ec0;
    width: 100%;
    border-top: 5px solid #fff;
}

#footer p, #footer a {
    color: #fff;
    padding: 0 7px 0 7px;
    font-size: 10pt !important;
}

div.content {
    background-color: #fff;
    padding-bottom: 65px;
    overflow: auto;
}

input, select {
    padding: 7px;
    font-size: 13pt;
}

input.text, select {
    width: 70%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

input.sh {
    max-width: 150px !important;
    margin-right: 10px;
}

input.btnDel {
    background-color: #c00 !important;
}

input.btn {
    background-color: #006ec0;
    color: #fff;
    border: 0px;
    padding: 7px 20px 7px 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    cursor: pointer;
}

input.btn:hover {
    background-color: #044e86;
}

input.cb {
    margin-bottom: 20px;
}

label {
    width: 20%;
    display: inline-block;
    font-size: 12pt;
    padding-right: 10px;
    margin: 10px 0px 0px 15px;
    vertical-align: top;
}

fieldset {
    margin-bottom: 15px;
}

.left {
    float: left;
}

.right {
    float: right;
}

div.ch-iv {
    width: 100%;
    background-color: #32b004;
    display: inline-block;
    margin-bottom: 15px;
    padding-bottom: 20px;
    overflow: auto;
}

div.ch {
    width: 220px;
    min-height: 350px;
    background-color: #006ec0;
    display: inline-block;
    margin: 0 20px 10px 0px;
    overflow: auto;
    padding-bottom: 20px;
}

div.ch-all {
    width: 100%;
    background-color: #b06e04;
    display: inline-block;
    margin-bottom: 15px;
    padding-bottom: 20px;
    overflow: auto;
}

div.ch .value, div.ch .info, div.ch .head, div.ch-iv .value, div.ch-iv .info, div.ch-iv .head, div.ch-all .value, div.ch-all .info, div.ch-all .head {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
}

.subgrp {
    float: left;
    width: 220px;
}

div.ch .unit, div.ch-iv .unit, div.ch-all .unit {
    font-size: 19px;
    margin-left: 10px;
}

div.ch .value, div.ch-iv .value, div.ch-all .value {
    margin-top: 20px;
    font-size: 24px;
}

div.ch .info, div.ch-iv .info, div.ch-all .info {
    margin-top: 3px;
    font-size: 10px;
}

div.ch .head {
    background-color: #003c80;
    padding: 10px 0 10px 0;
}

div.ch-all .head {
    background-color: #8e5903;
    padding: 10px 0 10px 0;
}

div.ch-iv .head {
    background-color: #1c6800;
    padding: 10px 0 10px 0;
}

div.iv {
    max-width: 960px;
    margin-bottom: 40px;
}

div.ts {
    font-size: 13px;
    background-color: #ddd;
    border-top: 7px solid #999;
    padding: 7px;
}

div.ModPwr, div.ModName {
  width:70%;
  display: inline-block;
}

#note {
    margin: 50px 10px 10px 10px;
    padding-top: 10px;
    width: 100%;
    border-top: 1px solid #bbb;
}

@media(max-width: 500px) {
    div.ch .unit, div.ch-iv .unit {
        font-size: 18px;
    }

    div.ch {
        width: 170px;
        min-height: 100px
    }

    .subgrp {
        width: 180px;
    }
}

#serial {
    width: 100%;
}

#content .serial {
    max-width: 1000px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #f00;
    border-radius: 50%;
    display: inline-block;
    margin-top: 15px;
}
