h1 {
    margin: 0;
    padding: 20pt;
    font-size: 22pt;
    color: #fff;
    background-color: #006ec0;
    display: block;
    text-transform: uppercase;
}

html, body {
    font-family: Arial;
    margin: 0;
    padding: 0;
}

p {
    text-align: justify;
    font-size: 13pt;
}

.des {
    margin-top: 35px;
    font-size: 13pt;
    color: #006ec0;
}

.subdes {
    font-size: 12pt;
    color: #006ec0;
    margin-left: 7px;
}


a:link, a:visited {
    text-decoration: none;
    font-size: 13pt;
    color: #006ec0;
}

a:hover, a:focus {
    color: #f00;
}

a.erase {
    background-color: #006ec0;
    color: #fff;
    padding: 7px;
    display: inline-block;
    margin-top: 30px;
    float: right;
}

#content {
    padding: 15px 15px 60px 15px;
}

#footer {
    position: fixed;
    bottom: 0px;
    height: 45px;
    background-color: #006ec0;
    width: 100%;
    border-top: 5px solid #fff;
}

#footer p, #footer a {
    color: #fff;
    padding: 0 7px 0 7px;
    font-size: 10pt !important;
}

div.content {
    background-color: #fff;
    padding-bottom: 65px;
    overflow: auto;
}

input, select {
    padding: 7px;
    font-size: 13pt;
}

input.text, select {
    width: 70%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

input.btn {
    background-color: #006ec0;
    color: #fff;
    border: 0px;
    float: right;
    margin: 10px 0 30px;
    text-transform: uppercase;
}

input.cb {
    margin-bottom: 20px;
}

label {
    width: 20%;
    display: inline-block;
    font-size: 12pt;
    padding-right: 10px;
    margin-left: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}

div.ch-iv {
    width: 100%;
    background-color: #32b004;
    display: inline-block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    overflow: auto;
}

div.ch {
    width: 250px;
    min-height: 420px;
    background-color: #006ec0;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: auto;
    padding-bottom: 20px;
}

div.ch .value, div.ch .info, div.ch .head, div.ch-iv  .value, div.ch-iv .info, div.ch-iv .head {
    color: #fff;
    display: block;
    width: 100%;
    text-align: center;
}

.subgrp {
    float: left;
    width: 250px;
}

div.ch .unit, div.ch-iv .unit {
    font-size: 19px;
    margin-left: 10px;
}

div.ch .value, div.ch-iv .value {
    margin-top: 20px;
    font-size: 30px;
}

div.ch .info, div.ch-iv .info {
    margin-top: 3px;
    font-size: 10px;
}

div.ch .head {
    background-color: #003c80;
    padding: 10px 0 10px 0;
}

div.ch-iv .head {
    background-color: #1c6800;
    padding: 10px 0 10px 0;
}

div.iv {
    max-width: 1060px;
}

div.ch:last-child {
    margin-right: 0px !important;
}

#note {
    margin: 50px 10px 10px 10px;
    padding-top: 10px;
    width: 100%;
    border-top: 1px solid #bbb;
}

@media(max-width: 500px) {
    div.ch .unit, div.ch-iv .unit {
        font-size: 18px;
    }

    div.ch {
        width: 170px;
        min-height: 100px;
    }

    .subgrp {
        width: 180px;
    }
}
